/* Colors and Styling */
:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsla(348, 95%, 50%, 0.283);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 225);
}

.home {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    // overlay is second layer
    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: transparent;
        top: 0;
        bottom: 0;
        z-index: 1;
        mix-blend-mode: hard-light;
    }

    // video is bottom layer
    video {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        object-fit: cover;
    }

    // homeContent is top layer
    .homeContent {
        width: 100%;
        height: max-content;
        padding: 8rem 1.5rem 3rem;
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        align-items: stretch;
        justify-content: center;
        margin: auto;
        color: var(--whiteColor);
        z-index: 100; // In default .homeContent is under the video

        .textDiv {
            padding: 1rem 0;

            .smallText {
                font-size: 13px;
                text-transform: uppercase;
                color: #bee2e3;
                font-weight: bold;
            }

            .homeTitle {
                position: relative;
                font-size: 1.8rem;
                color: #04ebe9;
            }
        }

        .cardDiv {  // styles for create card 
            position: relative;
            padding: 2rem 1rem;
            background: var(--whiteColor);
            border-radius: 10px;
            gap: 1rem;

            label {
                display: block;
                color: var(--textColor);
                padding-bottom: 10px;
                font-size: 15px;
                font-weight: 500;
            }

            // label_total in div.priceInput
            .label_total {
                justify-content: space-between;
                align-items: center;

                .total {
                    color: var(--textColor);
                    font-size: 18px;
                    padding-bottom: 10px;
                }
            }

            // div.input (group of input element and icons)
            .input {
                height: 40px;
                padding: 0 1rem;
                background: var(--inputColor);
                border-radius: 3rem;

                input {
                    background: none;
                    border: none;
                    outline: none;
                    width: 100%;
                    font-size: 14px;
                    font-weight: 500;
                    &::placeholder {
                        font-size: 14px;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }

                .icon {
                    font-size: 18px;
                    color: var(--PrimaryColor);
                    margin-left: 10px;
                }

                .input[type=range] {
                    background: blue;
                    margin-bottom: 5rem;
                }
            }

            // styles for filter button
            .searchOption {
                position: absolute;
                background: var(--gradientColor);
                width: max-content;
                bottom: -1rem;
                column-gap: 0.8rem;
                padding: 5px 1rem;
                border-radius: 3rem;
                left: 50%;
                transform: translate(-50%);
                justify-content: center;
                cursor: pointer;

                &:hover {
                    background: var(--PrimaryColor);
                }
                
                .icon {
                    font-size: 18px;
                }

                span {
                    font-size: 13px;
                }
            }
        }

        .homeFooterIcons {
            width: 100%;
            justify-content: space-between;

            .icon {
                font-size: 25px;
                margin: 0 5px;
                color: var(--whiteColor);
                font-weight: 600;
                cursor: pointer;
                &:hover {
                    color: var(--PrimaryColor);
                }
            }
        }

    }
}

// MEDIA QUERIES 